flows/ashley-mqtt-factory-control
[
    {
      "id": "1f22ede9.6adeda",
      "type": "tab",
      "label": "Ashley_MQTT Factory Control",
      "disabled": false,
      "info": ""
    },
    {
      "id": "859aaa47.11cc2",
      "type": "mqtt in",
      "z": "1f22ede9.6adeda",
      "name": "AWS Command Listener",
      "topic": "factory/control",
      "qos": "1",
      "datatype": "json",
      "broker": "788959e0.92f718",
      "x": 180,
      "y": 280,
      "wires": [["f9ecd8c6.afb75"]]
    },
    {
      "id": "f9ecd8c6.afb75",
      "type": "function",
      "z": "1f22ede9.6adeda",
      "name": "Parse AWS Stock Order",
      "func": "msg.colorType = (msg.payload.type || \"none\").toUpperCase();\nmsg.payload = {\n    type: msg.colorType,\n    ts: new Date().toISOString()\n};\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 420,
      "y": 280,
      "wires": [["a7a057b8.049608", "9c1f5b22.875098"]]
    },
    {
      "id": "a7a057b8.049608",
      "type": "switch",
      "z": "1f22ede9.6adeda",
      "name": "Which Color to Order?",
      "property": "colorType",
      "propertyType": "msg",
      "rules": [
        { "t": "eq", "v": "RED", "vt": "str" },
        { "t": "eq", "v": "BLUE", "vt": "str" },
        { "t": "eq", "v": "WHITE", "vt": "str" }
      ],
      "checkall": "true",
      "repair": false,
      "outputs": 3,
      "x": 650,
      "y": 280,
      "wires": [
        ["5e53fc00.e064fc"],
        ["e9b39ef.c3422e"],
        ["49881a33.386754"]
      ]
    },
    {
      "id": "5e53fc00.e064fc",
      "type": "function",
      "z": "1f22ede9.6adeda",
      "name": "Log RED Order",
      "func": "node.warn(\"Publishing RED order: \" + JSON.stringify(msg.payload));\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 860,
      "y": 220,
      "wires": [["b7e18be2.2d35c", "7498e907.0c4c48"]]
    },
    {
      "id": "e9b39ef.c3422e",
      "type": "function",
      "z": "1f22ede9.6adeda",
      "name": "Log BLUE Order",
      "func": "node.warn(\"Publishing BLUE order: \" + JSON.stringify(msg.payload));\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 860,
      "y": 280,
      "wires": [["66c95131.dab6a", "b98b00a2.6002b"]]
    },
    {
      "id": "49881a33.386754",
      "type": "function",
      "z": "1f22ede9.6adeda",
      "name": "Log WHITE Order",
      "func": "node.warn(\"Publishing WHITE order: \" + JSON.stringify(msg.payload));\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 860,
      "y": 340,
      "wires": [["6bc7bb76.724a94", "d5b9b.3d9bd466"]]
    },
    {
      "id": "b7e18be2.2d35c",
      "type": "mqtt out",
      "z": "1f22ede9.6adeda",
      "name": "Order RED Piece",
      "topic": "f/o/order",
      "qos": "",
      "retain": "false",
      "broker": "193de295.59916d",
      "x": 1110,
      "y": 200,
      "wires": []
    },
    {
      "id": "66c95131.dab6a",
      "type": "mqtt out",
      "z": "1f22ede9.6adeda",
      "name": "Order BLUE Piece",
      "topic": "f/o/order",
      "qos": "",
      "retain": "false",
      "broker": "193de295.59916d",
      "x": 1110,
      "y": 300,
      "wires": []
    },
    {
      "id": "6bc7bb76.724a94",
      "type": "mqtt out",
      "z": "1f22ede9.6adeda",
      "name": "Order WHITE Piece",
      "topic": "f/o/order",
      "qos": "",
      "retain": "false",
      "broker": "193de295.59916d",
      "x": 1120,
      "y": 420,
      "wires": []
    },
    {
      "id": "9c1f5b22.875098",
      "type": "debug",
      "z": "1f22ede9.6adeda",
      "name": "Parsed Order Debug",
      "active": true,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "true",
      "targetType": "full",
      "x": 640,
      "y": 340,
      "wires": []
    },
    {
      "id": "7498e907.0c4c48",
      "type": "debug",
      "z": "1f22ede9.6adeda",
      "name": "RED Debug",
      "active": true,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "true",
      "targetType": "full",
      "x": 1090,
      "y": 160,
      "wires": []
    },
    {
      "id": "b98b00a2.6002b",
      "type": "debug",
      "z": "1f22ede9.6adeda",
      "name": "BLUE Debug",
      "active": true,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "true",
      "targetType": "full",
      "x": 1090,
      "y": 260,
      "wires": []
    },
    {
      "id": "d5b9b.3d9bd466",
      "type": "debug",
      "z": "1f22ede9.6adeda",
      "name": "WHITE Debug",
      "active": true,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "true",
      "targetType": "full",
      "x": 1100,
      "y": 380,
      "wires": []
    },
    {
      "id": "d66ca753.8bf318",
      "type": "comment",
      "z": "1f22ede9.6adeda",
      "name": "Order Colors from the HBW Through AWS",
      "info": "This flow orders blue, red, or white parts from publishing through AWS IoT Core and sends that to Node-Red which triggers the factory to select the highest priority color to move to the MPU.",
      "x": 220,
      "y": 100,
      "wires": []
    },
    {
      "id": "788959e0.92f718",
      "type": "mqtt-broker",
      "z": "",
      "name": "",
      "broker": "a1m07g0lpmxynv-ats.iot.us-east-1.amazonaws.com",
      "port": "8883",
      "tls": "c1c8f379.d43cb",
      "clientid": "ft-node-red-client",
      "usetls": true,
      "compatmode": true,
      "keepalive": "60",
      "cleansession": true,
      "birthTopic": "",
      "birthQos": "0",
      "birthPayload": "",
      "closeTopic": "",
      "closeQos": "0",
      "closePayload": "",
      "willTopic": "",
      "willQos": "0",
      "willPayload": ""
    },
    {
      "id": "193de295.59916d",
      "type": "mqtt-broker",
      "z": "",
      "name": "local_MQTT_Broker",
      "broker": "192.168.0.10",
      "port": "1883",
      "clientid": "",
      "usetls": false,
      "compatmode": false,
      "keepalive": "60",
      "cleansession": true,
      "birthTopic": "",
      "birthQos": "0",
      "birthPayload": "",
      "closeTopic": "",
      "closeQos": "0",
      "closePayload": "",
      "willTopic": "",
      "willQos": "0",
      "willPayload": ""
    },
    {
      "id": "c1c8f379.d43cb",
      "type": "tls-config",
      "z": "",
      "name": "Fabian_TLS",
      "cert": "",
      "key": "",
      "ca": "",
      "certname": "5aedcffa759ed1d5f1509fb76d65eb4ad2ec0e930f363741dfa3803a1960f4f3-certificate.pem.crt",
      "keyname": "5aedcffa759ed1d5f1509fb76d65eb4ad2ec0e930f363741dfa3803a1960f4f3-private.pem.key",
      "caname": "AmazonRootCA1.pem",
      "servername": "",
      "verifyservercert": true
    }
  ]
  