flows/temp_flow.json
[
    {
        "id": "ce76e119.15154",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "39be57ef.480128",
        "type": "inject",
        "z": "ce76e119.15154",
        "name": "",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 140,
        "wires": [
            [
                "77fd311.164c8d",
                "726236fd.a5bbd",
                "21479b8d.b2092c"
            ]
        ]
    },
    {
        "id": "77fd311.164c8d",
        "type": "mqtt out",
        "z": "ce76e119.15154",
        "name": "",
        "topic": "f1/hbw/do",
        "qos": "0",
        "retain": "false",
        "broker": "788959e0.92f718",
        "x": 500,
        "y": 140,
        "wires": []
    },
    {
        "id": "d594f8d0.52a178",
        "type": "function",
        "z": "ce76e119.15154",
        "name": "Function",
        "func": "msg.payload = {\n  type: \"ptu\",\n  pan: 45,\n  tilt: 20,\n  ts: new Date().toISOString()\n};\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 300,
        "y": 620,
        "wires": [
            [
                "9736af6d.4bf3d8"
            ]
        ]
    },
    {
        "id": "9736af6d.4bf3d8",
        "type": "debug",
        "z": "ce76e119.15154",
        "name": "PTU Test Payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 300,
        "y": 700,
        "wires": []
    },
    {
        "id": "d69e4e7.6300f3",
        "type": "mqtt out",
        "z": "ce76e119.15154",
        "name": "10",
        "topic": "fi/o/order",
        "qos": "",
        "retain": "",
        "broker": "193de295.59916d",
        "x": 500,
        "y": 240,
        "wires": []
    },
    {
        "id": "726236fd.a5bbd",
        "type": "mqtt out",
        "z": "ce76e119.15154",
        "name": "5",
        "topic": "f1/hbw/do",
        "qos": "",
        "retain": "",
        "broker": "fcb85238.e26718",
        "x": 510,
        "y": 340,
        "wires": []
    },
    {
        "id": "21479b8d.b2092c",
        "type": "function",
        "z": "ce76e119.15154",
        "name": "",
        "func": "var ts = new Date().toISOString();\n\nmsg.payload = {\n    type: \"red\",\n    ts: ts\n};\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 220,
        "y": 320,
        "wires": [
            [
                "d69e4e7.6300f3"
            ]
        ]
    },
    {
        "id": "788959e0.92f718",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "a1m07g0lpmxynv-ats.iot.us-east-1.amazonaws.com",
        "port": "1883",
        "tls": "c1c8f379.d43cb",
        "clientid": "ft-node-red-client",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "193de295.59916d",
        "type": "mqtt-broker",
        "z": "",
        "name": "local_MQTT_Broker",
        "broker": "192.168.0.10",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "fcb85238.e26718",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "192.168.0.5",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "c1c8f379.d43cb",
        "type": "tls-config",
        "z": "",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "5aedcffa759ed1d5f1509fb76d65eb4ad2ec0e930f363741dfa3803a1960f4f3-certificate.pem.crt",
        "keyname": "5aedcffa759ed1d5f1509fb76d65eb4ad2ec0e930f363741dfa3803a1960f4f3-private.pem.key",
        "caname": "AmazonRootCA1.pem",
        "servername": "",
        "verifyservercert": true
    }
]
